<main>
    <section id="section-banner">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <img src="./assets/img/banner_A.jpg" class="d-block w-100" alt="Jogos em Promoção!">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="./assets/img/banner_B.jpg" class="d-block w-100" alt="Os Mais Vendidos!">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="./assets/img/banner_C.jpg" class="d-block w-100" alt="Melhores Experiências!">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <h2>Jogos em Promoção</h2>
    <mat-grid-list cols="3">
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/Game1.png" alt="Jogo 1">
                <mat-card-header>
                    <mat-card-title>Jogo 1</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Descrição do Jogo.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <p>R$ 300,00</p>
                    <button mat-button>COMPRAR</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/Game2.png" alt="Jogo 2">
                <mat-card-header>
                    <mat-card-title>Jogo 2</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Descrição do Jogo.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <p>R$ 500,00</p>
                    <button mat-button>COMPRAR</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/Game3.png" alt="Jogo 3">
                <mat-card-header>
                    <mat-card-title>Jogo 3</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Descrição do Jogo.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <p>R$ 500,00</p>
                    <button mat-button>COMPRAR</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

</main>